@charset "utf-8";
.home-top-grid1 {
  background: rgba(11, 100, 143, 0.7);
  transition: 0.5s all;
}
.home-top-grid2 {
  background: rgba(226, 23, 55, 0.5);
  transition: 0.5s all;
}
.home-top-grid3 {
  background: rgba(11, 100, 143, 0.4);
  transition: 0.5s all;
}
.iconfont {
  font-family: 'iconfont';
}
@font-face {
  font-family: 'AvantGardeBook.otf';
  src: url('../AvantGardeBook.otf');
}
img {
  max-width: 100%;
}
.vcenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  vertical-align: middle;
  margin: auto;
}
.tHide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.blockFull {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.relative {
  position: relative;
}
body {
  font-family: 微软雅黑;
  min-width: 320px;
}
a {
  color: #666;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
.clear {
  overflow: hidden;
  _zoom: 1;
}
.clearfix {
  _zoom: 1;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');/* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg');/* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 1200px;
}
/*-header-*/
.header {
  clear: both;
}
.kuan_heaaer .logo {
  width: 17.5%;
  float: left;
  background: #205da5;
}
.kuan_heaaer .logo img {
  max-width: 100%;
  max-height: 100%;
  float: right;
}
.kuan_heaaer .nav_div {
  background: #ffff;
  height: 102px;
  width: 60%;
  float: left;
}
.kuan_heaaer .nav_div .nav_ul {
  max-width: 1035px;
}
.kuan_heaaer .nav_div .nav_ul li {
  float: left;
  border-right: 1px solid #eeeeee;
  height: 102px;
  width: 14.28%;
  text-align: center;
  position: relative;
}
.kuan_heaaer .nav_div .nav_ul li a {
  height: 100%;
  display: block;
  width: 100%;
  line-height: 100%;
  color: #404040;
  font-size: 16px;
  outline: none;
}
.kuan_heaaer .nav_div .nav_ul li a span {
  display: block;
  height: 32px;
  line-height: 32px;
  margin-top: 35px;
  overflow: hidden;
}
.kuan_heaaer .nav_div .nav_ul li:hover {
  background: #205da5;
}
.kuan_heaaer .nav_div .nav_ul li:hover .erji {
  display: block;
}
.kuan_heaaer .nav_div .nav_ul li:hover a {
  color: #fff;
}
.kuan_heaaer .nav_div .nav_ul .active {
  background: #205da5;
}
.kuan_heaaer .nav_div .nav_ul .active a {
  color: #fff;
}
.kuan_heaaer .nav_div .nav_ul .erji {
  position: absolute;
  z-index: 9999;
  background: #205da5;
  color: #fff;
  top: 102px;
  width: 100%;
  padding: 10px 0px;
  display: none;
}
.kuan_heaaer .nav_div .nav_ul .erji a {
  color: #fff;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
  font-size: 14px;
  width: 100%;
}
.kuan_heaaer .nav_div .nav_ul .erji a:hover {
  font-weight: 700;
}
.kuan_heaaer .ensou {
  width: 112px;
  float: left;
  margin-top: 40px;
  position: relative;
}
.kuan_heaaer .ensou .en {
  color: #848484;
  font-size: 14px;
  font-family: arial;
  background: url(../images/en.jpg) no-repeat left center;
  padding-left: 25px;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  margin: 0px 15px;
}
.kuan_heaaer .ensou .en:hover {
  color: #205da5;
}
.kuan_heaaer .ensou .sou_img {
  float: right;
}
.kuan_heaaer .ensou .sou_nei {
  position: absolute;
  right: 0px;
  top: 62px;
  background: #fff;
  width: 157px;
  z-index: 99999;
  padding: 6px;
  border-radius: 4px;
  display: none;
}
.kuan_heaaer .ensou .sou_nei input {
  width: 120px;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #9c9c9c;
}
.kuan_heaaer .ensou .sou_nei img {
  cursor: pointer;
}
@media (max-width: 980px) {
  .kuan_heaaer .logo {
    width: 25%;
  }
  .kuan_heaaer .nav_div {
    display: none;
  }
  .kuan_heaaer .phone-nav {
    display: block;
    padding-top: 32px;
  }
  .kuan_heaaer .ensou {
    float: right;
    margin-right: 10%;
    width: 92px;
  }
  .kuan_heaaer .ensou .sou_img {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .kuan_heaaer .logo {
    width: 30%;
  }
  .kuan_heaaer .ensou {
    margin-right: 15%;
    margin-top: 25px;
  }
}
@media (max-width: 480px) {
  .kuan_heaaer .ensou {
    margin-top: 20px;
    margin-right: 20%;
  }
  .kuan_heaaer .ensou .sou_nei {
    top: 36px;
    margin-right: -5px;
  }
  .kuan_heaaer .phone-nav {
    padding-top: 15px;
    margin-right: 10px;
  }
}
/*-banner-*/
.banner {
  text-align: center;
  overflow: hidden;
}
.banner img {
  display: block;
  margin: auto;
}
.banner .slick-dots {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: right;
}
.banner .slick-dots li button {
  width: 14px;
  height: 14px;
}
.banner .slick-dots .slick-active button {
  background: #009424;
  height: 18px;
  width: 18px;
}
@media (max-width: 768px) {
  .banner .slick-dots {
    text-align: center;
    bottom: 15px;
  }
  .banner .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .banner .slick-dots .slick-active button {
    background: #009424;
    height: 10px;
    width: 10px;
  }
}
/*分页*/
.pageing {
  text-align: center;
  padding: 4% 0px;
}
.pageing a {
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
  color: #898989;
  font-size: 12px;
  font-family: arial;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.pageing a:hover {
  background: #0d6fb8;
  color: #fff;
}
.pageing .active {
  background: #0d6fb8;
  color: #fff;
}
.pro_home .pro_qie {
  width: 100%;
  background: #f4f4f4;
}
.pro_home .pro_qie span {
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #666;
  line-height: 30px;
  padding: 1% 0px;
  box-sizing: border-box;
  border-right: 1px solid #e7e7e7;
  border-bottom: 3px solid #f4f4f4;
  cursor: pointer;
}
.pro_home .pro_qie span i {
  font-style: normal;
  height: 30px;
  line-height: 30px;
  width: 90%;
  margin: auto;
  display: block;
  overflow: hidden;
}
.pro_home .pro_qie span:last-child {
  border-right: none;
}
.pro_home .pro_qie span:hover {
  background: #fff;
  border-bottom: 3px solid #0d6fb8;
}
.pro_home .pro_qie .active {
  background: #fff;
  border-bottom: 3px solid #0d6fb8;
}
@media (max-width: 640px) {
  .pro_home .pro_qie span {
    width: 50%;
    font-size: 14px;
  }
}
.pro_home .pro_com {
  margin: 3% 0px 5%;
}
.pro_home .pro_com .pro_com_ul {
  display: none;
}
.pro_home .pro_com .pro_com_ul li {
  width: 33.3333%;
  float: left;
  background: #f7f7f7;
}
.pro_home .pro_com .pro_com_ul li a {
  display: block;
  padding: 10% 4%;
  width: 100%;
  height: 100%;
}
.pro_home .pro_com .pro_com_ul li .pic {
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.pro_home .pro_com .pro_com_ul li .pic i {
  display: block;
  padding-bottom: 72%;
}
.pro_home .pro_com .pro_com_ul li .pic img {
  transition: 0.3s;
}
.pro_home .pro_com .pro_com_ul li .text {
  float: right;
  width: 45%;
}
.pro_home .pro_com .pro_com_ul li .text span {
  color: #333;
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  overflow: hidden;
  display: block;
}
.pro_home .pro_com .pro_com_ul li .text p {
  font-size: 14px;
  color: #666;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  margin: 10px 0px 20px;
}
.pro_home .pro_com .pro_com_ul li .text .more {
  height: 32px;
  width: 32px;
  background: url(../images/pro_h1.png) no-repeat;
  display: block;
}
.pro_home .pro_com .pro_com_ul li:hover {
  background: #fbfbfb;
  border-bottom: 3px solid #e4e4e4;
}
.pro_home .pro_com .pro_com_ul li:hover .pic img {
  transform: scale(0.95);
}
.pro_home .pro_com .pro_com_ul li:hover .text span {
  color: #5292c7;
}
.pro_home .pro_com .pro_com_ul li:hover .text .more {
  background: url(../images/pro_h2.png) no-repeat;
}
@media (max-width: 640px) {
  .pro_home .pro_com .pro_com_ul li {
    border-bottom: 1px dashed #ccc;
    width: 100%;
  }
  .pro_home .pro_com .pro_com_ul li .text span {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
  }
}
.case_home {
  background: #366dae;
  padding: 60px 0px;
}
@media (max-width: 640px) {
  .case_home {
    padding: 30px 0px;
  }
}
.case_home .case_com {
  width: 98%;
  margin: auto;
  max-width: 1200px;
}
.case_home .case_com .top {
  color: #fff;
  text-align: center;
}
.case_home .case_com .top span {
  font-size: 36px;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  overflow: hidden;
  letter-spacing: 3px;
}
@media (max-width: 640px) {
  .case_home .case_com .top span {
    font-size: 28px;
    line-height: 30px;
    height: 30px;
  }
}
.case_home .case_com .top i {
  font-size: 14px;
  font-family: kartika;
  font-style: normal;
  display: block;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  width: 100%;
}
.case_home .case_com .top em {
  width: 40px;
  height: 4px;
  background: #fff;
  margin: auto;
  display: inline-block;
}
.case_home .case_com ul {
  background: #fff;
  padding: 20px 10px;
  margin-top: 3%;
}
.case_home .case_com ul li {
  width: 25%;
  float: left;
  padding: 0px 5px;
}
.case_home .case_com ul li .pic_ca {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.case_home .case_com ul li .pic_ca i {
  display: block;
  padding-bottom: 96%;
}
.case_home .case_com ul li .pic_ca .zhe_a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../images/zhe_bg.png);
  display: none;
}
.case_home .case_com ul li .pic_ca .zhe_a .zhe_n {
  width: 106px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -53px;
  text-align: center;
}
.case_home .case_com ul li .pic_ca .zhe_a .zhe_n p {
  line-height: 20px;
  color: #fff;
  height: 40px;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: "微软雅黑";
}
.case_home .case_com ul li .pic_ca .zhe_a .zhe_n img {
  max-height: 100%;
  max-width: 100%;
}
.case_home .case_com ul li .pic_ca:hover .zhe_a {
  display: block;
}
.case_home .case_com ul li .text_ca {
  text-align: center;
  padding: 10px;
}
.case_home .case_com ul li .text_ca p {
  color: #3c3c3c;
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  width: 100%;
}
.case_home .case_com ul li a {
  color: #205da5;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  width: 100%;
}
.case_home .case_com ul li a:hover {
  font-weight: 700;
}
@media (max-width: 640px) {
  .case_home .case_com ul li {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .case_home .case_com ul {
    margin-top: 15px;
  }
  .case_home .case_com ul li {
    width: 100%;
    margin-bottom: 10px;
  }
}
.new_home {
  width: 98%;
  margin: 5% auto;
  max-width: 1200px;
}
.new_home .left_new {
  width: 53%;
  float: left;
  background: #f5f6f6;
}
.new_home .left_new .pic {
  float: left;
  width: 34%;
  position: relative;
}
.new_home .left_new .pic i {
  display: block;
  padding-bottom: 104.739336492891%;
}
.new_home .left_new .text {
  float: left;
  width: 57%;
  margin-left: 4%;
  padding: 6% 0px;
}
.new_home .left_new .text h4 {
  color: #373737;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  width: 100%;
}
.new_home .left_new .text p {
  color: #7d7d7d;
  font-size: 13px;
  line-height: 22px;
  height: 66px \n;
  overflow: hidden;
  width: 100%;
  margin: 12px 0px;
}
.new_home .left_new .text a {
  color: #989898;
  font-size: 13px;
}
.new_home .left_new .text a:hover {
  color: #366dae;
}
.new_home .right_new {
  width: 46%;
  float: right;
}
.new_home .right_new li {
  width: 49%;
  float: left;
  background: #f5f6f6;
  margin-right: 2%;
}
.new_home .right_new li:last-child {
  margin-right: 0px;
}
.new_home .right_new .pic {
  position: relative;
}
.new_home .right_new .pic i {
  display: block;
  padding-bottom: 31.297709923664126%;
}
.new_home .right_new .text {
  padding: 7.2% 10px;
}
.new_home .right_new .text h4 {
  color: #373737;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
.new_home .right_new .text time {
  font-size: 12px;
  font-family: arial;
  color: #989898;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
}
.new_home .right_new .text p {
  color: #7e7e7e;
  font-size: 13px;
  line-height: 22px;
  height: 44px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 640px) {
  .new_home .left_new {
    width: 100%;
    margin-bottom: 10px;
  }
  .new_home .right_new {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .new_home .left_new .pic {
    width: 100%;
  }
  .new_home .left_new .text {
    width: 100%;
    margin: 0px;
  }
  .new_home .right_new li {
    width: 100%;
    margin-bottom: 10px;
  }
}
.links {
  width: 98%;
  margin: auto;
  max-width: 1200px;
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
}
.links span {
  width: 5%;
  max-width: 60px;
  float: left;
  background: url(../images/link_bg.jpg) no-repeat left top;
  display: block;
  line-height: 32px;
  color: #333333;
  font-size: 14px;
}
.links .link_a {
  width: 94%;
  float: right;
  line-height: 32px;
}
.links .link_a a {
  display: inline-block;
  padding: 0px 5px;
  line-height: 32px;
  font-size: 14px;
  color: #666;
}
.links .link_a a:hover {
  color: #0083c7;
}
@media (max-width: 768px) {
  .links span {
    width: 10%;
    float: left;
  }
  .links .link_a {
    width: 84%;
    float: right;
  }
}
@media (max-width: 640px) {
  .links span {
    width: 100%;
  }
  .links .link_a {
    width: 100%;
  }
}
.footer {
  background: #2c2f34;
  width: 100%;
  margin-top: 2%;
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 90px;
  }
}
.footer_com {
  max-width: 1200px;
  width: 98%;
  margin: auto;
  padding: 3% 0px;
}
.footer_com .di_nav {
  width: 55%;
  float: left;
}
.footer_com .di_nav li {
  width: 25%;
  float: left;
  border-left: 1px solid #424449;
  padding-left: 15px;
}
.footer_com .di_nav li a {
  display: block;
  color: #97989a;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  width: 100%;
}
.footer_com .di_nav li a:hover {
  color: #0083c7;
}
.footer_com .di_nav li .tit {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
}
.footer_com .er_right {
  width: 40%;
  float: right;
}
.footer_com .er_right .er {
  width: 22%;
  float: left;
}
.footer_com .er_right .er .pic {
  position: relative;
}
.footer_com .er_right .er .pic i {
  display: block;
  padding-bottom: 100%;
}
.footer_com .er_right .er .pic img {
  padding: 10px;
  border: 1px solid #606060;
  box-sizing: content-box;
}
.footer_com .er_right .er .text {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
}
.footer_com .er_right .er .text span {
  display: block;
  line-height: 25px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
.footer_com .er_right .er .text span:last-child {
  color: #aeaeae;
  font-size: 12px;
}
.footer_com .er_right .dian {
  width: 55%;
  float: right;
}
.footer_com .er_right .dian .di_bg {
  background: url(../images/di_dian.png) no-repeat left;
  padding-left: 52px;
}
.footer_com .er_right .dian span {
  display: block;
  color: #fff;
  font-size: 16px;
}
.footer_com .er_right .dian a {
  display: block;
  color: #ffffff;
  font-size: 2em;
  font-family: Pabloco;
}
.footer_com .er_right .dian .map_a {
  background: #205da5;
  border: 1px solid #2670b7;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  width: 80%;
  height: 40px;
  line-height: 37px;
  margin-top: 20px;
}
.footer_com .er_right .dian .map_a:hover {
  font-weight: 700;
}
@media (max-width: 768px) {
  .footer_com .di_nav {
    display: none;
  }
  .footer_com .er_right {
    width: 100%;
    padding: 5% 0px;
  }
  .footer_com .er_right .er {
    width: 30%;
  }
  .footer_com .er_right .er .pic i {
    padding-bottom: 31.25%;
  }
  .footer_com .er_right .dian {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .footer_com .er_right .er {
    width: 100%;
  }
  .footer_com .er_right .er .text {
    padding-left: 0px;
  }
  .footer_com .er_right .dian {
    width: 100%;
    display: block;
  }
  .footer_com .er_right .dian span {
    font-size: 14px;
    display: none;
  }
  .footer_com .er_right .dian a {
    font-size: 18px;
    display: none;
  }
  .footer_com .er_right .dian .map_a {
    display: block;
    margin: 15px auto 0px;
  }
}
.copy {
  width: 100%;
  margin: auto;
  border-top: 1px solid #484848;
  padding: 5px 0px;
  color: #505256;
  font-size: 12px;
}
.copy .copy_cc {
  max-width: 1200px;
  width: 98%;
  margin: auto;
}
.copy .amap {
  float: left;
}
.copy .amap:hover {
  color: #0083c7;
}
.copy span {
  width: 60%;
  display: inline-block;
  line-height: 20px;
}
.copy .y_a {
  float: right;
}
.copy .y_a .map {
  margin-right: 10px;
  display: none;
}
.copy .y_a .map:hover {
  color: #0083c7;
}
@media (max-width: 640px) {
  .copy {
    text-align: center;
  }
  .copy .amap {
    display: none;
  }
  .copy span {
    width: 100%;
  }
  .copy .y_a {
    float: none;
    width: 100%;
    margin-top: 10px;
  }
  .copy .y_a .map {
    display: inline-block;
  }
}
/*-phone-nav-*/
.phone-nav {
  position: absolute;
  right: 1%;
  margin-right: 15px;
  display: none;
  color: #fff;
  z-index: 9;
  padding-top: 22px;
}
.phone-nav span {
  color: #000;
  font-size: 30px;
}
@media (max-width: 980px) {
  .phone-nav {
    display: block;
  }
}
.com_zi {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.com_zi .left_zi {
  width: 217px;
  float: left;
  border-right: 1px solid #f5f5f5;
}
.com_zi .left_zi .top_com {
  background: url(../images/left_top_bg.jpg) no-repeat;
  min-height: 180px;
  padding-top: 100px;
  position: relative;
}
.com_zi .left_zi .top_com span {
  font-size: 27px;
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  width: 100%;
  display: block;
  overflow: hidden;
  color: #fff;
  padding: 0px 20px;
}
.com_zi .left_zi .top_com:after {
  content: url(../images/after_top.png);
  position: absolute;
  left: 0px;
  top: -33px;
  width: 374px;
  height: 33px;
  z-index: 9999;
}
.com_zi .left_zi .nav_left {
  border-left: 8px solid #e5e5e5;
  padding: 0px 6px;
  position: relative;
}
.com_zi .left_zi .nav_left li {
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 30px;
  position: relative;
}
.com_zi .left_zi .nav_left li a {
  font-size: 14px;
  color: #666666;
  font-family: "微软雅黑";
  display: block;
  width: 100%;
  padding-right: 12px;
  overflow: hidden;
  height: 54px;
  line-height: 54px;
  background: url(../images/li_san.png) right center no-repeat;
}
.com_zi .left_zi .nav_left li:hover a {
  color: #0d6fb8;
  font-weight: 700;
}
.com_zi .left_zi .nav_left li .er {
  padding: 0px 0px 10px;
}
.com_zi .left_zi .nav_left li .er a {
  font-size: 12px;
  color: #999;
  line-height: 24px;
  height: 24px;
  background: none;
  font-weight: 500;
}
.com_zi .left_zi .nav_left li .er a:hover {
  color: #0d6fb8;
}
.com_zi .left_zi .nav_left .active a {
  color: #0d6fb8;
  font-weight: 700;
}
.com_zi .left_zi .nav_left:before {
  content: "";
  position: absolute;
  height: 46px;
  width: 13px;
  top: 0px;
  left: -13px;
  background: #0d6fb8;
}
.com_zi .left_zi .pro_lei {
  border: 1px solid #f5f5f5;
  margin-top: 40px;
}
.com_zi .left_zi .pro_lei .top {
  background: #0d6fb8 url(../images/li_lei.png) no-repeat 20px center;
  padding-left: 40px;
  height: 38px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 38px;
}
.com_zi .left_zi .pro_lei .pro_l_nei {
  padding: 20px 5px 10px;
  border-bottom: 1px solid #F5F5F5;
}
.com_zi .left_zi .pro_lei .pro_l_nei .pic {
  width: 100%;
  position: relative;
}
.com_zi .left_zi .pro_lei .pro_l_nei .pic i {
  display: block;
  padding-bottom: 69.12442396313364%;
}
.com_zi .left_zi .pro_lei .pro_l_nei p {
  height: 30px;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
}
.com_zi .left_zi .pro_lei .left_g_new {
  padding: 20px;
}
.com_zi .left_zi .pro_lei .left_g_new li a {
  color: #686868;
  font-size: 13px;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  widows: 100%;
  display: block;
  background: url(../images/li_dian1.jpg) no-repeat left center;
  padding-left: 10px;
}
.com_zi .left_zi .pro_lei .left_g_new li a:hover {
  color: #3385c1;
  font-weight: 700;
}
@media (max-width: 640px) {
  .com_zi .left_zi {
    display: none;
  }
}
.com_zi .right_zi {
  width: 80%;
  float: right;
  padding-right: 10px;
}
.com_zi .right_zi .bar {
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0px 10px;
}
.com_zi .right_zi .bar .b_tt {
  float: left;
  font-size: 20px;
  color: #1f1f1f;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 20%;
  overflow: hidden;
}
.com_zi .right_zi .bar .curbar {
  float: right;
  text-align: right;
  font-size: 12px;
  color: #6e6e6e;
  width: 78%;
  vertical-align: middle;
  margin-top: 12px;
}
.com_zi .right_zi .bar .curbar a {
  max-width: 100px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}
.com_zi .right_zi .bar .curbar a:hover {
  color: #0083c7;
}
.com_zi .right_zi .bar .curbar i {
  font-style: normal;
  max-width: 100px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}
.com_zi .right_zi .bar .curbar i:last-child {
  color: #0033a1;
  border-bottom: 1px solid #0033a1;
}
@media (max-width: 640px) {
  .com_zi .right_zi .bar {
    padding: 15px 0px 10px 10px;
  }
  .com_zi .right_zi .bar .b_tt {
    width: 100%;
  }
  .com_zi .right_zi .bar .curbar {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .com_zi .right_zi {
    width: 75%;
  }
}
@media (max-width: 980px) {
  .com_zi .right_zi {
    width: 70%;
  }
}
@media (max-width: 786px) {
  .com_zi .right_zi {
    width: 65%;
  }
}
@media (max-width: 640px) {
  .com_zi .right_zi {
    width: 100%;
    padding-right: 0px;
  }
}
/*新闻页面*/
.news_zi_ul {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 5% 0px;
}
.news_zi_ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 30px 10px;
  transition: 0.5s;
}
.news_zi_ul li a .left {
  width: 78%;
  float: left;
}
.news_zi_ul li a .left h4 {
  font-size: 15px;
  color: #333;
  line-height: 30px;
  height: 30px;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
}
.news_zi_ul li a .left p {
  font-size: 13px;
  color: #666;
  line-height: 22px;
  overflow: hidden;
  height: 44px;
  width: 100%;
}
.news_zi_ul li a .right {
  width: 18%;
  float: right;
  text-align: right;
  overflow: hidden;
}
.news_zi_ul li a .right time {
  display: block;
  font-size: 18px;
  color: #9e9e9e;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  width: 100%;
}
.news_zi_ul li a .right span {
  display: block;
  font-size: 13px;
  color: #494949;
  padding-right: 15px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  width: 100%;
}
.news_zi_ul li a .right i {
  height: 31px;
  display: inline-block;
  width: 31px;
  background: url(../images/news_n1.png);
  position: relative;
  right: 15px;
  transition: 0.5s;
}
.news_zi_ul li a:hover {
  background: #f7f7f7;
}
.news_zi_ul li a:hover .right i {
  background: url(../images/news_n2.png);
}
.pro_p {
  line-height: 24px;
  color: #666;
  font-size: 13px;
  margin: 4% 0px;
}
@media (max-width: 640px) {
  .pro_p {
    padding-left: 10px;
  }
}
.pro_zi_ul li {
  border: 5px solid #eaeaec;
  width: 30.6%;
  float: left;
  padding: 20px;
  margin-bottom: 4%;
  margin-right: 4%;
}
.pro_zi_ul li:nth-child(3n+3) {
  margin-right: 0px;
}
.pro_zi_ul li .pic {
  position: relative;
  display: block;
  overflow: hidden;
}
.pro_zi_ul li .pic i {
  display: block;
  padding-bottom: 69.12442396313364%;
}
.pro_zi_ul li .pic img {
  transition: 0.5s;
}
.pro_zi_ul li .pic:hover img {
  transform: scale(1.1);
}
.pro_zi_ul li .text {
  text-align: center;
}
.pro_zi_ul li .text p {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  height: 30px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.pro_zi_ul li .text a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #0d6fb8;
  padding: 5px 18px;
  border-radius: 10px;
}
.pro_zi_ul li .text a:hover {
  background: #3C3C3C;
}
@media (max-width: 980px) {
  .pro_zi_ul li {
    width: 48.5%;
    margin-right: 3%;
  }
  .pro_zi_ul li:nth-child(3n+3) {
    margin-right: 2%;
  }
  .pro_zi_ul li:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (max-width: 480px) {
  .pro_zi_ul li {
    width: 100%;
    margin-right: 0px;
  }
}
/*移动端底部导航*/
.phonefooternav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 99999;
}
.phonefooternav ul li {
  width: 25%;
  background: #494949;
  float: left;
  padding: 10px 0;
  border-right: 1px solid #666;
  list-style: none;
}
.phonefooternav ul li a {
  display: block;
  color: #fff;
  text-align: center;
}
.phonefooternav ul li a i {
  display: block;
  font-size: 20px;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .phonefooternav {
    display: block;
  }
}
@media (max-width: 480px) {
  .phonefooternav ul li {
    padding: 3px 0px;
  }
  .phonefooternav ul li a i {
    padding: 2px 0px;
  }
}
.w1004 {
  max-width: 1200px;
  margin: auto;
  border-radius: 5px;
  width: 98%;
  padding: 3% 0px;
}
.map {
  margin: 0 auto;
}
.map dl {
  margin: 20px 0 20px 0;
  overflow: hidden;
  line-height: 30px !important;
}
.map dl:hover dt a {
  color: #fff;
  font-weight: bold;
}
.map dt {
  font-size: 14px;
  float: left;
  width: 10%;
  text-align: center;
  background: #205da5;
}
.map dt a {
  color: #fff;
  display: block;
}
.map dt a:hover {
  color: #fff;
  font-weight: bold;
}
.map dd {
  font-size: 12px;
  overflow: hidden;
  float: left;
  width: 85%;
  margin: 0px;
}
.map dd .p2 {
  padding: 0 0 0 20px;
  clear: both;
}
.map dd .p2 a {
  color: #205da5;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.map dd .p2 a:hover {
  color: #205da5;
}
.map dd div {
  clear: both;
  overflow: hidden;
  padding: 0px 20px 0 10px;
}
.map dd div a {
  color: #333;
  float: left;
  padding: 0 10px 0 10px;
}
.map dd div a:hover {
  color: #003e7e;
  background: #205da5;
  color: #fff;
}
@media (max-width: 768px) {
  .map dt {
    width: 15%;
  }
  .map dd {
    width: 85%;
  }
}
@media (max-width: 640px) {
  .map dt {
    width: 20%;
  }
  .map dd {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .map dt {
    width: 100%;
  }
  .map dd {
    width: 100%;
  }
}
/*典型业绩*/
.case_zi_ul {
  width: 100%;
}
.case_zi_ul li {
  width: 32.3%;
  float: left;
  margin-bottom: 1.5%;
  margin-right: 1.5%;
}
.case_zi_ul li:nth-child(3n+3) {
  margin-right: 0px;
}
.case_zi_ul li .pic {
  position: relative;
  display: block;
  overflow: hidden;
}
.case_zi_ul li .pic i {
  display: block;
  padding-bottom: 76.56765676567657%;
}
.case_zi_ul li .pic img {
  transition: 0.5s;
}
.case_zi_ul li .text {
  background: #f6f6f6;
  padding: 20px 10px 20px;
}
.case_zi_ul li .text p {
  color: #666;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 700;
  padding: 0px 10px;
  width: 100%;
  overflow: hidden;
}
.case_zi_ul li .text a {
  color: #999;
  font-size: 14px;
  padding: 0px 10px;
  display: block;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
.case_zi_ul li:hover .pic img {
  transform: scale(1.1);
}
.case_zi_ul li:hover .text {
  background: #0d6fb8;
}
.case_zi_ul li:hover .text p {
  color: #fff;
  border-color: #86b7dc;
}
.case_zi_ul li:hover .text a {
  color: #fff;
}
@media (max-width: 980px) {
  .case_zi_ul li {
    width: 49%;
    margin-right: 2%;
  }
  .case_zi_ul li:nth-child(3n+3) {
    margin-right: 2%;
  }
  .case_zi_ul li:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (max-width: 980px) {
  .case_zi_ul li {
    margin-bottom: 10px;
  }
  .case_zi_ul li .text {
    padding-bottom: 20px;
  }
}
.case_show .case_s1 {
  padding: 4% 0px;
}
.case_show .case_s1 .pic_l {
  width: 50%;
  float: left;
  position: relative;
}
.case_show .case_s1 .pic_l i {
  display: block;
  padding-bottom: 76.90631808278867%;
}
.case_show .case_s1 .text_r {
  width: 50%;
  float: right;
  padding: 20px;
}
.case_show .case_s1 .text_r h4 {
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  color: #333333;
  width: 100%;
  overflow: hidden;
}
.case_show .case_s1 .text_r p {
  line-height: 26px;
  color: #808080;
}
@media (max-width: 480px) {
  .case_show .case_s1 .pic_l {
    width: 100%;
  }
  .case_show .case_s1 .text_r {
    width: 100%;
  }
}
.xi_guan {
  background: url(../images/guan_xian.jpg) repeat-x top;
  margin-bottom: 4%;
  padding-top: 1px;
}
.xi_guan .guan_c {
  width: 100%;
  max-width: 520px;
  margin: auto;
  background: #0d6fb8;
  height: 42px;
  line-height: 42px;
}
.xi_guan .guan_c span {
  display: block;
  width: 33%;
  margin: auto;
  font-size: 16px;
  color: #fff;
  background: #0f80d4;
  font-weight: 700;
  text-align: center;
}
.down_ul {
  border-bottom: 1px solid #e5e5e5;
  padding: 5% 0px;
}
.down_ul li {
  line-height: 38px;
  height: 38px;
  padding: 0px 10px;
}
.down_ul li a {
  display: block;
  height: 100%;
  color: #666;
  font-size: 13px;
}
.down_ul li a span {
  display: inline-block;
  width: 80%;
  background: url(../images/down_tu.png) no-repeat left center;
  padding-left: 30px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.down_ul li a time {
  display: inline-block;
  width: 18%;
  float: right;
  text-align: right;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.down_ul li:nth-child(2n+2) {
  background: #e9e9e9;
}
.down_ul li:hover a {
  font-weight: 700;
}
@media (max-width: 480px) {
  .down_ul li a span {
    width: 70%;
  }
  .down_ul li a time {
    width: 27%;
  }
}
.honor_ul {
  padding: 5% 0px;
}
.honor_ul li {
  width: 23%;
  margin: 0px 5.15% 2%;
  float: left;
}
.honor_ul li .pic {
  position: relative;
  border: 1px solid #c5c5c5;
  box-shadow: 2px 2px 2px #e6f0f8;
}
.honor_ul li .pic img {
  padding: 3px;
}
.honor_ul li .pic i {
  display: block;
  padding-bottom: 68.80733944954129%;
}
.honor_ul li p {
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 786px) {
  .honor_ul li {
    width: 46%;
    margin: 0px 2%;
  }
}
.jia_more {
  width: 131px;
  height: 31px;
  line-height: 29px;
  text-align: center;
  color: #666;
  border: 1px solid #bebebe;
  display: block;
  transition: 0.5s;
  margin: -1% auto 5%;
}
.jia_more:hover {
  color: #fff;
  background: #205da5;
  border-color: #205da5;
}
.about_zi {
  padding: 5% 0px;
}
.about_zi p {
  line-height: 24px;
  font-size: 13px;
  color: #666;
  font-family: 微软雅黑;
}
.about_zi .about_img {
  position: relative;
  margin: 3% 0px;
}
.about_zi .about_img img {
  z-index: 1;
}
.about_zi .about_img i {
  display: block;
  padding-bottom: 30.102040816326532%;
}
.about_zi .about_img .kuan_a {
  width: 229px;
  height: 158px;
  background: url(../images/about_kuan.png) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -79px;
  left: 15%;
  z-index: 999;
  padding: 10px 15px;
}
.about_zi .about_img .kuan_a span {
  display: block;
  font-size: 34px;
  color: #333;
  font-family: AvantGardeBook;
  font-weight: 700;
  line-height: 40px;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
.about_zi .about_img .kuan_a time {
  display: block;
  color: #333;
  font-size: 14px;
  font-family: AvantGardeBook;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9999;
}
.about_zi .about_img .kuan_a em {
  width: 188px;
  height: 44px;
  background: #0d6fb8;
  color: #fff;
  display: block;
  line-height: 44px;
  text-align: center;
  font-style: normal;
  margin-top: 25px;
}
@media (max-width: 980px) {
  .about_zi .about_img .kuan_a {
    display: none;
  }
}
.contact_map {
  width: 100%;
  margin-bottom: 30px;
}
.contact_map #map {
  width: 100%;
  height: 290px;
}
@media (max-width: 640px) {
  .contact_map #map {
    height: 200px;
  }
}
.cont_zi {
  padding: 5% 0px;
}
.con_cc .left {
  width: 15%;
  float: left;
  background: #8ccbec;
  text-align: center;
  height: 100%;
  min-height: 202px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 55px;
}
.con_cc .left p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  font-family: arial;
  margin-top: 10px;
}
.con_cc .right {
  width: 85%;
  float: left;
  border-top: 2px solid #757575;
}
.con_cc .right li {
  border-bottom: 1px solid #f3f3f3;
  line-height: 40px;
  height: 40px;
  font-size: 13px;
}
.con_cc .right li b {
  width: 15%;
  text-align: right;
  display: inline-block;
  margin-right: 4%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.con_cc .right li span {
  display: inline-block;
  width: 79%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .con_cc .left {
    display: none;
  }
  .con_cc .right {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .con_cc .right li b {
    width: 20%;
  }
  .con_cc .right li span {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .con_cc .right li {
    height: auto;
  }
  .con_cc .right li b {
    float: left;
    width: 25%;
    height: auto;
  }
  .con_cc .right li span {
    width: 70%;
    height: auto;
  }
}
.pro_zi_show {
  padding: 4% 0px;
}
.pro_zi_show .pro_show2 {
  border: 1px solid #e5e5e5;
  margin: 30px 0px;
}
.pro_zi_show .pro_show2 .top_3 {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #e5e5e5;
  background: #0d6fb8;
  font-weight: 700;
  padding: 0px 10px;
}
.pro_zi_show .pro_show2 p {
  line-height: 24px;
  color: #666;
  padding: 3%;
}
.pro_show1 .left {
  border: 1px solid #e5e5e5;
  position: relative;
  width: 45%;
  float: left;
}
.pro_show1 .left i {
  display: block;
  padding-bottom: 69.12442396313364%;
}
.pro_show1 .right {
  float: right;
  width: 50%;
  padding-top: 20px;
  padding-right: 5%;
}
.pro_show1 .right h4 {
  font-size: 16px;
  color: #666;
  height: 40px;
  line-height: 40px;
  width: 100%;
  overflow: hidden;
}
.pro_show1 .right p {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 640px) {
  .pro_show1 .left,
  .pro_show1 .right {
    width: 100%;
  }
}
.pro_show3 {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.pro_show3 .s3_top {
  background: #f5f5f5;
  height: 46px;
  line-height: 46px;
  color: #fff;
  color: #666;
  padding: 0px 15px;
  overflow: hidden;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.pro_show3 .s3_com {
  padding: 1%;
}
.pro_show3 .s3_com ul li {
  width: 49%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  position: relative;
}
.pro_show3 .s3_com ul li:nth-child(2n+2) {
  margin-right: 0px;
}
.pro_show3 .s3_com ul li input {
  border: 1px solid #dfdbdb;
  width: 100%;
  padding: 9px 20px;
  outline: none;
  font-size: 14px;
  color: #797979;
  border-radius: 5px;
}
.pro_show3 .s3_com ul li .rred {
  border: 1px solid #ff0000;
}
.pro_show3 .s3_com ul li i {
  position: absolute;
  color: #ff0000;
  font-style: normal;
  right: 2%;
  top: 50%;
  margin-top: -10px;
}
@media (max-width: 640px) {
  .pro_show3 .s3_com ul li {
    width: 100%;
    margin-right: 0px;
  }
}
.pro_show3 .tex_div {
  position: relative;
}
.pro_show3 .tex_div textarea {
  min-height: 85px;
  resize: none;
  border: 1px solid #dfdbdb;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-size: 14px;
  color: #797979;
  border-radius: 5px;
}
.pro_show3 .tex_div .rred {
  border: 1px solid #ff0000;
}
.pro_show3 .tex_div i {
  position: absolute;
  color: #ff0000;
  font-style: normal;
  right: 1%;
  top: 4%;
}
.pro_show3 .yan_div {
  margin-top: 20px;
  position: relative;
}
.pro_show3 .yan_div .rred {
  border: 1px solid #ff0000;
}
.pro_show3 .yan_div input {
  border: 1px solid #dfdbdb;
  border-radius: 5px;
  width: 166px;
  padding: 9px 20px;
  outline: none;
  font-size: 14px;
  color: #797979;
  float: left;
}
@media (max-width: 480px) {
  .pro_show3 .yan_div input {
    width: 120px;
  }
}
.pro_show3 .yan_div i {
  position: absolute;
  color: #ff0000;
  font-style: normal;
  left: 150px;
  top: 50%;
  margin-top: -10px;
}
@media (max-width: 480px) {
  .pro_show3 .yan_div i {
    left: 105px;
  }
}
.pro_show3 .yan_div img {
  max-height: 100%;
  max-width: 100%;
  float: left;
  margin: 1px 5px 0px;
}
.pro_show3 .yan_div a {
  float: left;
  vertical-align: middle;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 14px;
}
.pro_show3 .yan_div a:hover {
  color: #205da5;
}
.pro_show3 .btn_a {
  text-align: center;
  padding: 20px 0px;
}
.pro_show3 .btn_a a {
  background: #f8f8f8;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0px 5px;
  color: #666;
}
.pro_show3 .btn_a a:hover {
  color: #fff;
  background: #0d6fb8;
  border-color: #0d6fb8;
}
@media (max-width: 480px) {
  .pro_show3 .btn_a a {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
/*上下页切换*/
.prev_next {
  text-align: left;
  margin: 5% auto;
  line-height: 40px;
  color: #7b7b7b;
  font-size: 12px;
  max-width: 1200px;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.prev_next li {
  float: left;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.prev_next li b {
  color: #999999;
  font-size: 12px;
}
.prev_next li a {
  color: #666;
  display: block;
  height: 40px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
.prev_next li a:hover {
  color: #0d6fb8;
}
.prev_next li:last-child {
  border-left: 1px solid #e5e5e5;
}
@media (max-width: 640px) {
  .prev_next {
    margin: 30px auto 30px;
  }
  .prev_next li {
    width: 100%;
    margin-bottom: 10px;
  }
  .prev_next li:last-child {
    text-align: left;
    border-top: 1px solid #e5e5e5;
    border-left: none;
  }
}
.news_show_zi {
  padding: 4% 0px;
}
.news_show_zi h4 {
  color: #333;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.news_show_zi p {
  color: #898989;
  font-size: 14px;
  line-height: 24px;
}
.news_show_zi .sh_img {
  position: relative;
  padding: 8% 0px;
  margin: 35px 0px 25px;
}
.news_show_zi .sh_img img {
  box-shadow: -25px -25px 0px #f2f2f2;
}
.news_show_zi .sh_img i {
  display: block;
  padding-bottom: 35.714285714285715%;
}
.news_show_zi .guan_ul {
  padding: 3% 0%;
}
.news_show_zi .guan_ul li {
  line-height: 39px;
  height: 39px;
}
.news_show_zi .guan_ul li a {
  width: 80%;
  float: left;
  display: block;
  color: #666;
  height: 39px;
  overflow: hidden;
  background: url(../images/jian_sian.png) no-repeat 6px center;
  padding-left: 18px;
}
.news_show_zi .guan_ul li span {
  width: 20%;
  float: right;
  color: #999;
  display: block;
  height: 39px;
  overflow: hidden;
  text-align: right;
  padding-right: 6px;
}
.news_show_zi .guan_ul li:hover a {
  color: #007bc8;
}
@media (max-width: 480px) {
  .news_show_zi .guan_ul li a {
    width: 70%;
  }
  .news_show_zi .guan_ul li span {
    width: 26%;
  }
}
.feed_ul li {
  width: 49%;
  float: left;
  margin-bottom: 15px;
  margin-right: 2%;
}
.feed_ul li:nth-child(2n+2) {
  margin-right: 0px;
}
.feed_ul li .div_biao {
  line-height: 36px;
  color: #9b9b9b;
}
.feed_ul li .div_biao img {
  float: left;
  margin-top: 11px;
  margin-right: 5px;
}
.feed_ul li .div_biao i {
  font-style: normal;
  color: #FF0000;
  display: inline-block;
  line-height: 36px;
  margin-left: 3px;
}
.feed_ul li input {
  width: 100%;
  padding: 10px;
  background: #f7f7f7;
  border: none;
}
@media (max-width: 480px) {
  .feed_ul li {
    width: 100%;
    margin-right: 0px;
  }
  .feed_ul li .div_biao {
    padding-left: 10px;
  }
}
.form_div {
  padding: 5% 0px;
}
.form_div .div_biao {
  line-height: 36px;
  color: #9b9b9b;
}
.form_div .div_biao img {
  float: left;
  margin-top: 11px;
  margin-right: 5px;
}
.form_div .div_biao i {
  font-style: normal;
  color: #FF0000;
  display: inline-block;
  line-height: 36px;
  margin-left: 3px;
}
@media (max-width: 480px) {
  .form_div .div_biao {
    padding-left: 10px;
  }
}
.form_div .nei_c {
  margin-bottom: 15px;
}
.form_div .nei_c textarea {
  width: 100%;
  padding: 10px;
  background: #f7f7f7;
  border: none;
  resize: none;
  min-height: 215px;
}
.form_div .yan_div {
  margin-bottom: 15px;
}
.form_div .yan_div input {
  max-width: 299px;
  width: 35%;
  padding: 10px;
  background: #f7f7f7;
  border: none;
  margin-right: 10px;
}
.form_div .yan_div a {
  color: #888888;
  font-size: 14px;
  margin-left: 10px;
}
.form_div .btn_th {
  color: #fff;
  background: #0d6fb8;
  width: 100%;
  max-width: 248px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  display: block;
}
.form_div .btn_th:hover {
  font-weight: 700;
}
/*搜索弹出层*/
.search_mask {
  background: url(../images/search_mask.png);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
}
.search_mask .s_box {
  width: 350px;
  height: 136px;
  padding: 25px;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  position: absolute;
  margin-top: -68px;
  background: #fff;
}
.search_mask .s_box .text1 {
  text-align: center;
  line-height: 24px;
  color: #666;
  font-size: 16px;
}
.search_mask .s_box .sure {
  width: 140px;
  height: 36px;
  display: block;
  margin: 20px auto 0;
  background: #00a0e9;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 5px;
}
.viewer-navbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */
